<div class="log-in disflxcctr">
  <div class="lgn-label">
    <h2>Log in</h2>
  </div>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field lgn-input">
      <%= f.label :email, class: "fntbold"%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email" %>
    </div>
    <div class="field lgn-input">
      <%= f.label :password, class: "fntbold"%><br />
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter your password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <br/>
    <div class="actions">
      <%= f.submit "Log in" , class: "lgn-button"%>
    </div>
  <% end %>
  <br/>
  <div class="lgn-options disflxcleft nochildlinks">
    <%= render "devise/shared/links"%>
  </div>

</div>
