<div class="disflxcctr table-wrapper" style="flex:1; width:100%; overflow-x: scroll; padding:2em;">
    <% if !current_user %>
        <div style="color:red;font-size:1.5em;display:flex;justify-content:center;align-items:center,flex:1">
            Please sign in to use this feature.
        </div>
    <% elsif !current_user.admin? %>
        <div style="color:red;font-size:1.5em;display:flex;justify-content:center;align-items:center,flex:1">
            Improper permissions. Please consult with your administrator.
        </div>
    <% else %>
        <div style="flex:1; width:100%;">
            <div style="width:100%">
                <%= form_with model: @user_search, url: admin_users_path, method: :get , local: true do |f| %>  <!-- has_one relationship -->
                    <div class="d-flex flex-row table-mgmt bg-secondary nochildlinks" >
                        <div class="disflxrstart" style="width:fit-content;">
                            <h5 class="text-dark" >Custom Query</h5>
                        </div>

                        <div class="disflxrctr" style="flex:1; justify-content: flex-end">
                            <div class="p-2 table-mgmt-opt">
                                <!--<%= button_to "Clear", export_admin_users_path(format: :csv), :class => "btn btn-md btn-dark p-2", :method => :get %> -->
                            </div>
                            <div class="p-2 table-mgmt-opt">
                                <%= f.submit "Query" , class: "btn btn-md btn-dark p-2"%>
                            </div>
                        </div>
                    </div>
                    <div style="width:100%; overflow-x:scroll">
                        <table class="table table-secondary table-striped" data-sort-order="asc" style="margin-bottom:0;" >
                            <thead>
                                <tr>
                                    <th>Operator</th>
                                    <% @columns.each do |attrib|%>
                                        <th> <%= attrib %> </th>
                                    <% end %>
                                    <th>Staff</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%= f.collection_select :operator, @operators.keys, :to_s, :to_s, {:selected => "equal"}%></td>
                                    <td><%= f.number_field :id, autofocus: true, class: "query-field-sh", step: 0 %></td>
                                    <td><%= f.email_field :email, autofocus: true, class: "query-field-lg"%></td>
                                    <td><%= f.date_field :created_at, autofocus: true, class: "query-field-sh"%></td>
                                    <td><%= f.date_field  :updated_at, autofocus: true, class: "query-field-sh"%></td>
                                    <td><%= f.text_field :username, autofocus: true, class: "query-field-lg"%></td>
                                    <td><%= f.text_field :role, autofocus: true, class: "query-field-sh"%></td>
                                    <td><%= f.text_field :first_name, autofocus: true, class: "query-field-md"%></td>
                                    <td><%= f.text_field :last_name, autofocus: true, class: "query-field-md"%></td>
                                    <td><%= f.text_field :middle_name, autofocus: true, class: "query-field-md"%></td>
                                    <td><%= f.number_field :staff, autofocus: true, class: "query-field-sh", step: 0%></td>
                                </tr>
                            </tbody>
                            
                        </table>
                    </div>
                <% end %>
            </div>

            <br/>
            <div class="d-flex flex-row justify-content-between nochildlinks" style="margin-left:auto;width:fit-content; padding-top:.5em; padding-bottom:.5em;">
                <div class="px-1">
                    Page
                </div>
                <% if @page > 0%>
                    <div class="px-1">
                        <%= link_to @page - 1, admin_users_path(:page => @page - 1)%>
                    </div>
                <% end %>
                <div class="px-1" style="border-bottom:solid black .1em">
                    <%= link_to @page, admin_users_path(:page => @page)%>
                </div>
                <% if @users.size > 0 && @page < @last_page%>
                    <div class="px-1">
                        <%= link_to @page + 1, admin_users_path(:page => @page + 1)%>
                    </div>
                <% end %>
            </div>

            <div class="d-flex flex-row table-mgmt nochildlinks" >
                <div class="disflxrstart" style="width:fit-content;">
                    <h2 >User Management View</h2>
                </div>

                <div class="disflxrctr" style="flex:1; justify-content: flex-end">
                    <div class="p-2 table-mgmt-opt">
                        <%= button_to "Export CSV", export_admin_users_path(format: :csv), :class => "btn btn-success p-2", :method => :get %>
                    </div>
                    <div class="p-2 table-mgmt-opt">
                        <%= button_to "Add Users", new_admin_user_path, :class => "btn btn-success p-2", :method => :get %>
                    </div>
                </div>
            </div>
            
            <div style="width:100%; overflow-x:scroll">
                <table class="table table-dark table-striped table-bordered" data-sort-order="asc" style="margin-bottom:0;">
                    <thead>
                        <tr>
                            <% @columns.each do |attrib|%>
                                <th> <%= attrib %> </th>
                            <% end %>
                            <th>Staff</th>
                            <th></th>
                        </tr>

                    </thead>
                    
                    <tbody>
                        <% if @users.length > 0 %>
                            <% @users.each do |entry| %>
                            <tr>
                                <% entry.attributes.each do |k, v|%>
                                    <td> <%= v %> </td>
                                <% end %>
                                <% if entry.employee %>
                                    <td>
                                        <%= link_to entry.employee.id, employee_path({:id => entry.employee}), method: :get%>
                                    </td>
                                <% else %>
                                    <td><%= link_to "Set", new_employee_path({:user_id => entry}), method: :get%></td>
                                <% end %>
                                <td><%= link_to "Edit", edit_admin_user_path({:id => entry.id})%></td>
                            </tr>
                            <% end %>
                        <% else %>
                            <tr>
                                <td colspan= <%= @columns.size+2%> >No Entries Found</td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    <% end %>
</div>