<div class="d-flex flex-row justify-content-between nochildlinks" style="flex: 1; max-width:fit-content; padding-top:.5em; padding-bottom:.5em;">
    <div class="px-1">
        Page
    </div>

    <% if current_page -2 > 0%>
        <div class="px-1">
            <%= button_to 0, link_path,  :method => :get, :params => {:page => 0}%>
            ..
        </div>
    <% end %>
    <% if current_page > 0%>
        <div class="px-1">
            <%= button_to current_page - 1, link_path,  :method => :get, :params => {:page => current_page - 1}%>
        </div>
    <% end %>

    <div class="px-1" style="border-bottom:solid black .1em">
        <%= button_to current_page, link_path, :method => :get, :params => {:page => current_page}%>
    </div>

    <% if records.size > 0 && current_page < last_page%>
        <div class="px-1">
            <%= button_to current_page + 1, link_path,  :method => :get, :params => {:page => current_page + 1}%>
        </div>
    <% end %>

    <% if current_page + 2 < last_page%>
        <div class="px-1">
            ..
            <%= button_to last_page, link_path,  :method => :get, :params => {:page => last_page}%>
        </div>
    <% end %>
</div>