<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
</style>

<main>
  <div class="px-5 py-2 my-5 bk_hero shadow-lg">
    <div class="row flex-lg-row-reverse align-items-center py-5 flex-wrap" style="height:fit-content; min-height: 50em">
      <div class="col-10 col-lg-6 px-5" style="flex-grow:9999; height:100%; min-width:50em">
        <div class="img_container shadow-lg" style="height:100%;min-height: 45em">
          <%= image_tag 'root_bk.jpg', alt: ""%>
        </div>
        <br/>
      </div>
      <div class="col-10 col-sm-8 col-lg-6 card_bk d-flex flex-column px-5" style="font-size:1.25em; flex-grow:9999;  height:100%">
        <h1 class="display-5 fw-bold lh-1 mb-3">Complete Spend Management Platform</h1>
        <br/>
        <p class="lead" style="font-size:1.15em">Innovative solution to handling workplace operations on our web platform integrated with large-scale automation and the latest technological advances. Click below to get started.</p>
        <br/>
        <div class="nochildlinks disflxrctr home_links flx1">
            <a>Invoice Automation</a>
            <a>Purchase Orders</a>
            <a>3-Way Match</a>
            <a>Expense Reimbursement</a>
            <a>Receiving</a>
            <a>Vendor Onboarding</a>
            <a>Domestic and International Payments</a>
            <a>Virtual Cards</a>
            <a>Budgeting</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container px-5 py-2 my-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag 'root_portals.jpg', class: "card_image shadow-lg", alt: ""%>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Application Portal</h1>
        <p class="lead">Innovative solution to handling workplace operations on our web platform integrated with large-scale automation and the latest technological advances. Click below to get started.</p>
        <br/>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <%= button_to "ADMIN PORTAL", admin_users_path, :id => "open-contacts-dialog-btn",:class => "btn btn-primary btn-lg px-4 me-md-2", :method => :get , :params => {:page => 1}%>
          <%= button_to "EMPLOYEE PORTAL", employees_path, :id => "open-contacts-dialog-btn",:class => "btn btn-primary btn-lg px-4 me-md-2", :method => :get %>
        </div>

      </div>
    </div>
  </div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Thanks for visiting this application</h1>
      <br/>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">If you have any inquiries or would like to get started with our software, please contact us via the form below or email us directly!</p>
        <div class="inq-contact">
          Email: inquiries@accrualify.com
        </div>
        <%= form_with do |f| %>
          <br/>
          <div class="field inq-input">
            <%= f.label :"Subject:", class: "inq-label" %><br />
            <%= f.text_field :login, autocomplete: "current-login"%>
          </div>
          <br/>
          <div class="field inq-input">
            <%= f.label :"Message:", class: "inq-label"%><br />
            <%= f.text_area :login, autocomplete: "current-login"%>
          </div>

          <br/>
          <div class="actions">
            <%= f.submit "Send" , class: "inq-button"%>
          </div>
          <br/>
        <% end %>
      </div>
    </div>
  </div>

  <div class="b-example-divider mb-0"></div>
</main>
